@keyframes appear {
	0%   {opacity: 0; filter: alpha(opacity=0);}	
	100% {opacity: 1; filter: alpha(opacity=100);}
}
div {
	position: absolute;
	width: 100%;
}
img {
	animation-name: appear;
	animation-duration: 3s;
}
body{
    position: fixed; 
    overflow-y: scroll;
    width: 100%;
}
svg{
	position: absolute;
	width: 100%;
}
line{
	stroke-linecap: round;
}